@page
@{
	ViewData["title"] = "Favorites - Examples";
	ViewData["page-support"] = "Examples \\ Favorites";
	ViewData["meta-og:image"] = "/images/support/examples/fav1.png";
}
<h5>Favorite applications and directories example</h5>
<pre class="syntax"><code>shell 
{
    dynamic
    {
        menu(type=<span class="syntax-string">'desktop|taskbar'</span> title=<span class="syntax-string">'Favorites'</span> image=<span class="syntax-number">#00ff00</span>)
        {
            menu(title=<span class="syntax-string">'Applications'</span> image=<span class="syntax-number">#ff0000</span>)
            {
                item(title=<span class="syntax-string">'Command propt'</span> <span class="syntax-keyword">image</span> cmd=<span class="syntax-string">'cmd.exe'</span>)
                item(title=<span class="syntax-string">'PowerShell'</span> <span class="syntax-keyword">image</span> cmd=<span class="syntax-string">'powershell.exe'</span>)
                item(title=<span class="syntax-string">'Registry editor'</span> <span class="syntax-keyword">image</span> cmd=<span class="syntax-string">'regedit.exe'</span>)
                separator
                item(title=<span class="syntax-string">'Paint'</span> <span class="syntax-keyword">image</span> cmd=<span class="syntax-string">'mspaint.exe'</span>)
                item(title=<span class="syntax-string">'Notepad'</span> <span class="syntax-keyword">image</span> cmd=<span class="syntax-string">'notepad.exe'</span>)
            }
            separator
            menu(title=<span class="syntax-string">'Directories'</span> image=<span class="syntax-number">#0000ff</span>)
            {
                item(title=<span class="syntax-string">'Downloads'</span> cmd=<span class="syntax-code">@@user.downloads</span>)
                item(title=<span class="syntax-string">'Pictures'</span> cmd=<span class="syntax-code">@@user.pictures</span>)
                item(title=<span class="syntax-string">'Home'</span> cmd=<span class="syntax-code">@@user.directory</span>)
                separator
                item(title=<span class="syntax-string">'Windows'</span> cmd=<span class="syntax-code">@@sys.directory</span>)
                item(title=<span class="syntax-string">'Program files'</span> cmd=<span class="syntax-code">@@sys.prog</span>)
            }
        }
    }
}</code></pre>
<figure class="has-text-centered my-5">
	<a class="lightbox">
		<img class="is-256" src="~/images/support/examples/fav1.png">
	</a>
	<a class="lightbox">
		<img class="is-256" src="~/images/support/examples/fav2.png">
	</a>
</figure>
