@page
@{
	ViewData["page-support"] = "Expressions \\ Identifier";
}
<h4>Identifier</h4>
<br>
<p>The Identifier have unique titles described by fully qualified names that indicate a logical hierarchy.<br>The Identifier that has no parameters. Parentheses are added when necessary to separate:</p>
<p>There is a hierarchy of keywords in that some keywords are always followed by others.</p>
<pre><code>sel.path<br>sel.path().ext</code></pre>
