<?xml version="1.0" encoding="UTF-8" ?>

<!-- @see https://weblogs.asp.net/scottgu/tip-trick-url-rewriting-with-asp-net -->

<configuration>

    <configSections>
        <section name="rewriter"
                 requirePermission="false"
                 type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
    </configSections>

    <runtime>

        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

            <dependentAssembly>
                <!-- bin/System.Memory.dll has fileVersion="4.6.31308.1" but assemblyVersion="4.0.1.2" -->
                <assemblyIdentity name="System.Memory"
                                  publicKeyToken="cc7b13ffcd2ddd51"
                                  culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
            </dependentAssembly>

            <dependentAssembly>
                <!-- bin/System.Buffers.dll has fileVersion="4.6.28619.1" but assemblyVersion="4.0.3.0" -->
                <assemblyIdentity name="System.Buffers"
                                  publicKeyToken="cc7b13ffcd2ddd51"
                                  culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
            </dependentAssembly>

            <dependentAssembly>
                <!-- bin/System.Runtime.CompilerServices.Unsafe.dll has fileVersion="6.0.21.52210" but assemblyVersion="6.0.0.0" -->
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe"
                                  publicKeyToken="b03f5f7f11d50a3a"
                                  culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
            </dependentAssembly>

        </assemblyBinding>

    </runtime>

    <system.web>

        <httpModules>
            <add name="UrlRewriter"
                 type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
        </httpModules>

        <compilation debug="true"/>

    </system.web>

    <system.webServer>

        <modules runAllManagedModulesForAllRequests="true">
            <add name="UrlRewriter"
                 type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
        </modules>

        <validation validateIntegratedModeConfiguration="false"/>

    </system.webServer>

    <rewriter>

        <!-- Do NOT allow access to the /bin/ directory,
             or anything starting with an underline (_)  -->
        <if url="^/(_.*|.*\.vb$|bin($|/))">
            <forbidden/>
        </if>

        <!-- Remove trailing slash -->
        <redirect url="^(.*)/$"
                  exists="$1"
                  to="$1/"
                  processing="stop"/>
        <redirect url="^(.*)/$"
                  to="$1"
                  processing="stop"/>

        <!-- Remove trailing .html -->
        <redirect url="^(.*)/index\.html$"
                  to="$1"
                  processing="stop"/>
        <redirect url="^(.*)\.html$"
                  to="$1"
                  processing="stop"/>

        <!-- Use dynamic pass-through, since /images/docs/* are actually under the projects /docs/images folder -->
        <if url="^/images/docs(/.*)?$">
            <rewrite url="^/images/docs(/.*)?$"
                     to="/Default.aspx?type=image&amp;path=/docs/images$1"
                     processing="stop"/>
        </if>

        <!-- Do NOT rewrite everything under /assets/ and /images/ -->
        <if url="^/(assets|images)($|/)">
            <rewrite url="^/(.*)"
                     to="~/$1"
                     processing="stop"/>
        </if>

        <rewrite url="^/Default.aspx$"
                 to="/Default.aspx?path=/"
                 processing="stop"/>
        <rewrite url="~/favicon.ico$"
                 to="~/images/favicon.ico"
                 processing="stop"/>

        <rewrite url="^(/.*)$"
                 to="/Default.aspx?path=$1"
                 processing="stop"/>

    </rewriter>

</configuration>
