@page
@{
	ViewData["page-support"] = "Functions \\ APP";
}
<h5>APP</h5>
<div class="notification is-danger is-light">
	Documentation under construction.
</div>
<pre>
app.about
app.cfg
app.directory(dir)
app.dll
app.exe
app.is64
app.name
app.reload
app.unload
app.version(ver)
</pre>
