@page
@{
	ViewData["page-support"] = "Functions \\ IO";
}
<h5>IO</h5>
<div class="notification is-danger is-light">
	Documentation under construction.
</div>
<pre>
io.attribute.archive
io.attribute.compressed
io.attribute.device
io.attribute.directory
io.attribute.encrypted
io.attribute.hidden
io.attribute.invalid
io.attribute.normal
io.attribute.offline
io.attribute.readonly
io.attribute.sparsefile
io.attribute.system
io.attribute.temporary
io.attribute.virtual
io.attributes
io.copy
io.delete
io.directory
io.dir.make
io.file.append
io.file.create
io.file.make
io.file.read
io.file.size
io.file.write
io.move
io.rename
</pre>

@*If the help function is passed without an argument, then the interactive help utility starts up on the console.
The help function has the following syntax:*@