@page
@{
	ViewData["page-support"] = "Functions \\ PATH";
}
<h5>PATH</h5>
<div class="notification is-danger is-light">
	Documentation under construction.
</div>
<pre>
path.absolute
path.combine
path.currentdirectory(curdir)
path.directory(dir)
path.directory.box
path.directory.make
path.directory.name
path.directory.title
path.empty
path.exists
path.file
path.file.box
path.file.ext
path.file.name
path.file.title
path.full
path.getknownfolder
path.isabsolute
path.isclsid
path.isdirectory
path.isdrive
path.isexe
path.isfile
path.isnamespace
path.isrelative
path.isroot
path.join
path.lnk
path.lnktarget
path.name
path.parent
path.parent.name
path.relative
path.removeextension
path.root
path.short
path.title
path.type
</pre>


