@page
@{
	ViewData["page-support"] = "Functions \\ REG";
}
<h5>REG</h5>
<div class="notification is-danger is-light">
	Documentation under construction.
</div>
<pre>
reg(...)
reg.cr
reg.cu
reg.lm
reg.u
reg.cc
reg.none
reg.sz
reg.expand
reg.binary
reg.multi
reg.dword
reg.qword
</pre>