@page
@{
	ViewData["page-support"] = "Functions \\ STR";
}
<h5>STR</h5>
<div class="notification is-danger is-light">
	Documentation under construction.
</div>
<pre>
str.at
str.char
str.contains
str.empty
str.end
str.equals
str.find
str.findlast
str.format
str.left
str.length
str.lower
str.not
str.null
str.padleft
str.padright
str.remove
str.replace
str.right
str.start
str.sub
str.trim
str.trimend
str.trimstart
str.upper
</pre>