@page
@{
	ViewData["page-support"] = "Functions \\ SYS";
}
<h5>SYS (SYSTEM)</h5>
<div class="notification is-danger is-light">
	Documentation under construction.
</div>
<pre>
sys.appdata
sys.beep
sys.bin
sys.bin32
sys.bin64
sys.copy
sys.dark
sys.datetime
sys.datetime.date
sys.datetime.date_day
sys.datetime.date_dayofweek
sys.datetime.date_month
sys.datetime.date_y
sys.datetime.date_year
sys.datetime.date_yy
sys.datetime.short
sys.datetime.time
sys.datetime.time_hour
sys.datetime.time_milliseconds
sys.datetime.time_min
sys.datetime.time_minute
sys.datetime.time_ms
sys.datetime.time_pm
sys.datetime.time_second
sys.directory(dir)
sys.extended
sys.is64
sys.name
sys.path
sys.prog
sys.prog32
sys.programdata
sys.random
sys.refresh
sys.root
sys.temp
sys.templates
sys.toggleext
sys.togglehidden
sys.type
sys.users
sys.var
sys.version(ver)
sys.version.build
sys.version.major
sys.version.minor
sys.version.name
sys.version.type
sys.wow
</pre>

