@page
@{
	ViewData["page-support"] = "Functions \\ USER";
}
<h5>USER</h5>
<div class="notification is-danger is-light">
	Documentation under construction.
</div>
<pre>
user.home
user.appdata
user.contacts
user.desktop
user.directory(dir)
user.documents
user.documentslibrary
user.downloads
user.favorites
user.libraries
user.localappdata
user.music
user.name
user.personal
user.pictures
user.profile
user.quicklaunch
user.sendto
user.startmenu
user.temp
user.templates
user.videos
</pre>