@page
@{
	ViewData["page-support"] = "Getting started";
	ViewData["meta-og:image"] = "/images/support/helloworld.png";
}
<h4>Get Started</h4>
<br>
<p>
	This tutorial will teach you the basics of <b>Shell</b>.<br>
	It is not necessary to have any prior experience.
</p>
<p>
	To start using <b>Shell</b>, you need:<br>
    A text editor, like Notepad, to write <b>Shell</b> code.
</p>
<h5>Quickstart</h5>
<p>Let's create our first menu item.</p>
<p>Open configuration file (shell.shl) and Write the following code and save.</p>
<pre class="syntax"><code>shell
{
    dynamic
    {
        item(title=<span class="syntax-string">'Hello, World!'</span>)
    }
}</code></pre>
<p>Don't worry if you don't understand the code above - we will discuss it in detail in later chapters.</p>
<p>The result will look something for this when you press the right-click in an empty place on the desktop:</p>
<div class="has-text-centered my-5">
	<a class="lightbox">
		<img src="~/images/support/helloworld.png">
	</a>
</div>

<p><strong>Congratulations</strong> You have now added the first time a menu item to the context menu</p>